body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  overflow-x: hidden;
}
.container{
  margin: 0 auto;
  width: 97%;
}
.navbar{
  display: flex;
  justify-content: space-between; 
  padding: 30px 0;
  margin: 0 auto;
  /* z-index: 100; */
  /* position: fixed;
  top: 0;
  left: 0; */
}
.navbar .logo-text{
  font-size: 1.3rem;
  color: red;
  font-weight: bolder;
  text-decoration: none;
}
.menu-open, .menu-close{
  display: none !important;
}
.nav-links{
  display: flex;
  justify-content: flex-end;
  gap: 1.8vmin;
  list-style: none;
}
.nav-links a{

  text-decoration: none;
  cursor: pointer;
  color: black;
}

.nav-links a:hover{
  color: red;
  font-weight: 500;
  transform: scale(1.1);
}
.nav-links a:active{
  color: green;
}

.display{
  background-image: url(images/jollof-bg.jpg);
  background-position: top 40% right 10%;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 550px;
  padding: 0 300px;
  color: white;
  right: 3px;
  filter: brightness(0.9);
}
.display h1{
  font-size: 3rem;
  position: absolute;
  top: 20%;
  right:8%;

  filter: brightness(100%);
}
.display p{
  display: none;
    position: absolute;
    top: 20%;
    font-size: 4vmin;
    right: 10%;
}
.display button{
  position: absolute;
  bottom: 40%;
  right: 15%;
  font-size: 20px;
  border: none;
  background-color: green;
  color: white;
  padding: 15px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.food-section{
  padding: 2.5em 0;
  margin: 0 auto;
  /* width: 80%; */
}
.food-section h1{
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  padding-bottom: 10px; 
}
.menu{
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2vmin;
}
.dishes{
  padding: 3em 1em;
  margin-bottom: 30px auto;
  /* justify-content: center; */
  
}
.dishes img{
  width: 350px;
  height: 250px;
}
.dishes h2{
  text-transform: uppercase;
}
.dishes button{
  padding: 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.reviews-section{
  margin: 0 auto 70px;
  padding: 15px 0 0;
  height: 500px;
  background-image: url(images/pounded-yam-1.jpg);
  background-position: top 30% right;
  background-size: cover;
  filter: brightness(0.9);  
}
.reviews-section h2{
  font-size: 25px;
  text-align: center;
  margin: 40px 0 35px;
  padding: 10px 30px;
  color: black;
  text-decoration: underline;
}
.reviews-div{
  margin:  0 auto;
  display: flex;  
  gap: 1.1vmin;
  padding: 20px 7em 10px;
  justify-content: space-around;
}
.review{ 
  background-color: rgb(181, 154, 121);
  box-shadow: 0 20 0 rgba(0, 0, 0, 0.3);
  padding: 10px 30px;
  width: 12em; 
}
.review p{
  font-size: 1.2rem;
}
.form-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  /* padding: 70px 0; */
  padding: 4em auto;
}
.form input, textarea{
  margin: 5px;
  display: block;
  padding: 1em;
  margin-bottom: 20px;
  width: 60vw;
  box-sizing: content-box;
}
.btn{
  background-color: red;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 15px 30px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
}

footer{
  margin: 70px auto 0;
  padding: 4em;
  background-color: black;
  color: grey;
}
.info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:  0 auto;
}
.head{
  width: 400px;
  padding-left: 20px;
}
.head h4{
  color: white;
}
.red{
  color: red;
}
.addy{
  position: relative;
}
.email{
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 70%;
}
.submit{
  margin-top: 15px;
  position: absolute;
  right: 20%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  cursor: pointer;
}
.copyright{
  margin-top: 50px;
}
.icons{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.icon{
  padding: 0 20px;
  color: white;
}


@media only screen and (max-width: 768px) {
  .nav-menu{
    background-color: beige;
    height: 100vh;
    width: 60vw;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: all .4s ease;
  }
  .navbar.active .nav-menu{
    right: 0%;
  }
  .menu-open{
    display: block !important;
    width: 0px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  .nav-links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 3em;
  }
  .nav-links li a{
    border-bottom: 1px solid black;
  }
  .menu-close{
    display: block !important;
    width: 20px;
    padding: 20px;
    color: red;
    cursor: pointer;
  }
  
  .display{
    background-position: right 50%;
  }
  .display h1{
    top: 30%;
    right: 40%;
  }
  .display button{
    bottom:39%;
    right: 45%;
  }
  .menu{
    flex-direction: column;
  }
  .dishes{
    padding: 1em;
    margin-bottom: 30px;
  }
  .dishes img{
    width: 300px;
    height: 250px;
  }

  .reviews-section{
    height: 800px;
    background-position: center;
  }
  .reviews-div{
    margin:  0 auto;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px 0;    
    align-items: center;
  }
  .review{ 
    width: 30vh; 
  }

  /* .form input, textarea{
    
  } */

  footer{

  }
  .info{
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
    box-sizing: border-box;
    gap: 15px;    
  }  
  .addy{
    justify-self: center;
  }
  .head{
    width: 70vw;
  }
  .email{
    width: 40%;
  }
  .submit{
    right: 27%;
  }
}

@media only screen and (max-width: 500px) {
  .email{
    width: 45vw;
  }
  .submit{
    right: 13%;
  }
}


@media only screen and (max-width: 300px) {
  
  .display h1{
    font-size: 2.2rem;
    top: 30%;
    right: 60%;
  }
  .display button{
    bottom:42%;
    right: 63%;
  }
  .dishes img{
    width: 80vw;
    height: 250px;
  }
  .reviews-section{
    height: 880px;
  }
  .review{ 
    width: 23vh; 
  }
}